.home1{
    font-size: 43px;
    font-weight: bolder;
    text-align: center;
    padding-top: 33px;
    
}
.home2{
    font-weight: 10px;
    text-align: center;
    padding-top: 10px;
}

.homeBtn{
    margin-left: 570px;
    margin-bottom: 15px;
}