.mine{
  padding-top: 10px;
}
 

.socialBtn{
  margin-left: 65px;
  padding-left: 1000px;
  padding-top: 15px;
}

.appLink{
  text-decoration: none;
}

#bootStyle{
  padding-left: 146px;
  padding-top: 15px;
}

#bootStyle2{
  padding-left: 60px;
}